<div class="subnav">
    <a href="/admin/pilots" class="btn compact {{ 'secondary' if not request.url.path.startswith('/admin/pilots') }}">Piloten</a>
    <a href="/admin/gliders" class="btn compact {{ 'secondary' if not request.url.path.startswith('/admin/gliders') }}">Flugzeuge</a>
    <a href="/admin/airfields" class="btn compact {{ 'secondary' if not request.url.path.startswith('/admin/airfields') }}">Flugplätze</a>
    <a href="/admin/finalize" class="btn compact {{ 'secondary' if not request.url.path.startswith('/admin/finalize') }}">Tage abschliessen</a>
</div>
