<div class="subnav">
    <a href="/admin/pilots" class="btn compact {{ 'secondary' if not request.url.path.startswith('/admin/pilots') }}">Pilots</a>
    <a href="/admin/gliders" class="btn compact {{ 'secondary' if not request.url.path.startswith('/admin/gliders') }}">Gliders</a>
    <a href="/admin/airfields" class="btn compact {{ 'secondary' if not request.url.path.startswith('/admin/airfields') }}">Airfields</a>
    <a href="/admin/finalize" class="btn compact {{ 'secondary' if not request.url.path.startswith('/admin/finalize') }}">Finalize</a>
</div>
